name: IP TV Scanner

on:
  schedule:
    - cron: '0 0 * * *' # প্রতিদিন একবার নিজে নিজে চলবে
  workflow_dispatch: # আপনি চাইলে ম্যানুয়ালিও রান করতে পারবেন

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run scanner
        run: python scanner.py

      - name: Commit results
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add active_streams.m3u
          git commit -m "Updated active channels" || exit 0
          git push
